<div class="container">
  <div class= "row">
    <div class="col-lg-6 mx-auto">
      <div class="card card border-primary mt-2">
        <div class="card-header text-center">
          <h4>Create New Blog</h4>
        </div>
        <div class="card-body ">
          <div class="container">
            <%= render "blogs/form"%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>